:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-image: url("../img/hinh_nen_galaxy.jpeg");
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
} */

.player{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  height: auto;
  background-image: linear-gradient(61deg, #d9afd9 0%, #97d9e1 50%, #ffc4c4 100%);
  border-radius: 10px;
  padding: 20px;
  
}

.dashboard{
  display: flex;
  justify-content: space-between;
}

.left{
  background-color: rgba(217, 175, 217, 0.5);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.right{
  background-color: rgba(151, 217, 225, 0.5);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: auto;
}

.left, .right{
  width: 48%;
  border-radius: 20px;
  height: 470px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}



/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 5px;
}

header h2 {
  color: var(--text-color);
  font-size: 22px;
}

/* CD */
.cd {
display: flex;
margin: auto;
width: 270px;
}

.cd-thumb {
width: 100%;
padding-top: 100%;
border-radius: 50%;
background-size: cover;
margin: auto;
object-fit: cover;
}

/* CONTROL */
.control {
display: flex;
align-items: center;
justify-content: space-around;
padding: 18px 10px 8px 10px;
margin-bottom: 10px;
}

.control .btn {
color: #666;
padding: 18px;
font-size: 18px;
}

.control .btn.active {
color: var(--primary-color);
}

.control .btn-toggle-play {
width: 56px;
height: 56px;
border-radius: 50%;
font-size: 24px;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--primary-color);
}

.progress {
width: 88%;
display: flex;
margin: auto;
-webkit-appearance: none;
height: 6px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: 0.2s;
transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 12px;
height: 6px;
background-color: var(--primary-color);
cursor: pointer;
}

/* PLAYLIST */
.playlist {
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: rgb(227, 195, 227);
}

/*Tạo cảm giác click*/
.song:active {
opacity: 0.8;
}

/* .song.active .option, */
/* .song.active .author,
.song.active .title {
color: #fff;
} */

.song .thumb {
width: 60px;
height: 60px;
border-radius: 10%;
background-size: cover;
}

.song .body {
flex: 1;
padding: 0 16px;
}

.song .title {
font-size: 18px;
color: var(--text-color);
}

.song .author {
font-size: 12px;
color: #999;
}

.song .option {
padding: 16px 8px;
color: #999;
font-size: 18px;
}
